
.terraform/

*.tfstate
*.tfstate.backup
*.tfstate.lock.info


*.tfvars
*.tfvars.json

!example.tfvars
!*.example.tfvars

*.log
crash.log
error.log

*.tfplan
plan.out


override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.DS_Store
.idea/
.vscode/
*.swp

venv/

build/